.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin: 20px;
}


#red-circle {
    background-color: red;
}

#blue-circle {
    background-color: blue;
}

#yellow-circle {
    background-color: yellow;
}